* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-size: cover;
}

h1 {
  margin-top: 10px;
  opacity: 0.9;
  color: mediumpurple;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

li {
  list-style: none;
}
.container {
  background: linear-gradient(
    to bottom,
    rgba(252, 146, 220, 0.4),
    rgba(140, 196, 241, 0.6)
  );

  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  max-width: 500px;
}
.form-control {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px;
}

.btn-outline-success {
  margin-top: 20px;
  color: rgb(45, 52, 56);
  background-color: #00ffff;
}

.btn-success {
  display: block;
  color: rgb(103, 103, 104);
  background-color: lavenderblush;
  border-color: silver;
  border-radius: 50px;
}

.desciption {
  text-align: center;
}

.currentDate {
  margin-top: 1px;
  margin-bottom: 10px;
  padding-bottom: 1px;
  font-size: 13px;
  position: absolute;
  top: 0;
  text-align: left;
  color: #706381;
}

.current-city {
  font-size: 11px;
  color: #706381;
}

.weather-icons {
  position: relative;
  font-size: 50px;
}

.sunny-icon {
  font-size: 70px;
  color: #fac70b;
}
.wind-icon {
  color: #d3d6db;
}
.suncloud-icon {
  color: #ff2400;
}

.temperature {
  font-size: 50px;
  font-weight: bold;
  color: #0c9cee;
  padding-bottom: 30px;
}

.current-info {
  color: #0c9cee;
  font-size: 20px;
  font-weight: 900px;
  opacity: 0.5;
}

.weather-temperature.active {
  color: rgb(10, 10, 10);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
