* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  margin-top: 10px;
  opacity: 0.9;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

li {
  list-style: none;
}

.container {
  background: linear-gradient(
    to bottom,
    rgba(252, 146, 220, 0.4),
    rgba(140, 196, 241, 0.6)
  );

  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  max-width: 600px;
}

.form-control {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px;
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #6d42c7;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-outline-success {
  color: #8f8f92;
  margin-top: 20px;
  background-color: #00ffff;
  border: none;
}

.btn-outline-success:hover {
  background-color: #f8e71c;
  border-color: silver;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
}

.condition {
  font-size: bold;
  text-align: center;
}

.currentDate {
  margin-top: 1px;
  margin-bottom: 10px;
  padding-bottom: 1px;
  font-size: 13px;
  position: absolute;
  top: 0;
  text-align: left;
  color: #706381;
}

.current-city {
  font-size: 11px;
  color: #706381;
}

.temperature {
  font-size: 50px;
  font-weight: bold;
  color: #0c9cee;
}

.current-info {
  color: #0c9cee;
  font-size: 20px;
  font-weight: 900px;
  opacity: 0.5;
}

.weather-temperature.active {
  color: rgb(10, 10, 10);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}
